*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  color: #FFF;
  background-color: #121519;
  font-family: 'Montserrat', 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

.app {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: 20% 1fr;
  height: 100vh;
}

.header,
.footer {
  font-size: .75rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a0a0a0;
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  grid-column: 1 / -1;
  padding: 0 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header__left, .header__right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.main {
  grid-column: 1 / -1;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-perspective: 1px;
          perspective: 1px;
  -ms-scroll-snap-type: block proximity;
      scroll-snap-type: block proximity;
  -ms-scroll-snap-destination: 0% 100%;
      scroll-snap-destination: 0% 100%;
  -ms-scroll-snap-points-y: repeat(100%);
      scroll-snap-points-y: repeat(100%);
}
@media screen and (min-width: 1024px) {
  .main {
    grid-column: 2 / -1;
  }
}

.footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  grid-column: 1 / -1;
  padding: 0 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer p {
  margin-right: 1rem;
}
.footer a {
  color: #FFF;
}
.footer a:hover, .footer a:focus {
  text-decoration: underline;
}
.footer__more {
  display: none;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .footer__more {
    display: block;
  }
}

.nav {
  display: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.nav__item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav__link {
  display: block;
  color: #FFF;
  font-weight: 200;
}
.nav__link:hover, .nav__link:focus {
  background-color: rgba(255, 255, 255, 0.035);
}
@media screen and (min-width: 1024px) {
  .nav {
    display: block;
    grid-column: 1 / 2;
  }
}

.section {
  min-height: 500px;
  min-height: calc(100vh - 4rem - 4rem);
  padding-top: 300px;
  margin-bottom: 250px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  scroll-snap-align: start;
}
.section__header {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 500px;
  padding: 2rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.section__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.section__title {
  font-size: 3.5rem;
  font-weight: 200;
  margin-bottom: .5rem;
  line-height: 1;
}
.section__subtitle {
  font-size: 1.5rem;
}
.section__controls {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section__content {
  position: relative;
  z-index: 1;
  padding: 0 1rem;
}
@media screen and (min-width: 1024px) {
  .section {
    margin-bottom: 450px;
  }
  .section__header {
    -webkit-transform: translateZ(-1px) scale(1.9);
            transform: translateZ(-1px) scale(1.9);
  }
  .section__content {
    padding: 0;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

.boxgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2rem .5rem;
}
.boxgrid__item {
  display: -webkit-box;
  display: flex;
}
.boxgrid__item--wide {
  grid-column: span 2;
}
@media screen and (min-width: 1280px) {
  .boxgrid__item--push {
    grid-column: span 2;
    padding-left: 50%;
  }
}

.box {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  position: relative;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: .875rem;
  color: #FFF;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.box:hover, .box:focus {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  z-index: 10;
}
.box--weather {
  background-color: #89CDCE;
}
.box--cost {
  background-color: #66AEE5;
}
.box--locations {
  background-color: #6C73DC;
}
.box--answerBlock {
  justify-content: right;
  background-color: #D95952;
}
.box--image, .box--video {
  padding: 0;
}
.box--video::before, .box--video::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.box--video::before {
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
}
.box--video::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #121519;
  margin-left: 2px;
}
.box__img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
}

.scrollctrl {
  display: none;
  -webkit-box-pack: center;
          justify-content: center;
  width: 50vw;
  height: 50vw;
  padding: 0;
  position: fixed;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  left: 50%;
  margin-left: -25%;
}
.scrollctrl:hover, .scrollctrl:focus {
  background-color: rgba(255, 255, 255, 0.035);
}
.scrollctrl--prev {
  top: 0;
  padding-top: 44%;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transform: translateY(-42vw);
          transform: translateY(-42vw);
}
.scrollctrl--next {
  bottom: 0;
  padding-bottom: 44%;
  -webkit-transform: translateY(42vw);
          transform: translateY(42vw);
}
@media screen and (min-width: 1024px) {
  .scrollctrl {
    display: -webkit-box;
    display: flex;
  }
}

.text--large {
  font-size: 2rem;
  font-weight: 200;
}

.arrow {
  display: inline-block;
  padding: 3px;
  border-style: solid;
  border-width: 0 2px 2px 0;
}
.arrow--large {
  padding: 8px;
  border-width: 0 1px 1px 0;
}
.arrow--right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.arrow--left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.arrow--up {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.arrow--down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.media {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 2rem;
}
.media__img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border-radius: 0.25rem;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}
.media__content {
  margin: 0;
}

.user {
  margin-left: auto;
  text-align: center;
  padding-top: 2rem;
}
.user__name {
  display: block;
  font-size: 1.5rem;
  font-weight: 200;
}
.user__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: .5rem;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
}

.btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
          flex: 0 0 50px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #FFF;
  margin: 0 .5rem;
}

button:focus {
  outline: 0;
  border-color: #D95952;
  box-shadow: 0 0 0 1px #B8B4B4;
}

.chatbot__overview {
    display: absolute;
  flex-flow: row nowrap;
  align-content: space-between;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 0; }


  .chatlist {
    font-family: inherit;
    font-size: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    overflow-x: hidden;
    width: 100%;
    max-width: 75vw;
    max-height: 55vh;
    margin: 0 auto; }
    .chatlist .userInput, .chatlist .bot__output {
      padding: 0.85em;
      margin: 0.5em;
      max-width: 100%;
      border-radius: 5px;
      border-bottom: 1px solid #777; }
    .chatlist .userInput {
      text-transform: lowercase;
      box-shadow: 1px 1px 2px #666;
      border-top: 2px solid #D95952;
      opacity: 0;
      animation-name: animateBubble;
      animation-duration: 400ms;
      animation-iteration-count: 1;
      animation-play-state: running;
      animation-fill-mode: forwards; }
    .chatlist .bot__output {
      align-self: flex-start;
      box-shadow: -1px 1px 1px #666;
      border-top: 2px solid #27ae60;
      will-change: auto;
      height: auto;
      opacity: 0;
      animation-name: animateBubble;
      animation-duration: 400ms;
      animation-iteration-count: 1;
      animation-play-state: paused;
      animation-fill-mode: forwards; }
      .chatlist .bot__output:last-child {
        display: none; }
    .chatlist .bot__command {
      color: #D95952;
      color: #27ae60;
      font-weight: 600;
      padding: 0.1em; }
    .chatlist .bot__output:nth-child(1) {
      animation-delay: 600ms;
      animation-play-state: running; }
    .chatlist .bot__output:nth-child(2) {
      animation-delay: 1200ms;
      animation-play-state: running; }
    .chatlist .bot__output:nth-child(3) {
      animation-delay: 1800ms;
      animation-play-state: running; }
    .chatlist .bot__output--standard:last-child {
      display: block; }
    .chatlist .bot__output--failed {
      display: block !important; }
    .chatlist .bot__output--second-sentence {
      display: block; }
    .chatlist .bot__outputImage {
      max-width: 16em;
      height: 12em; }

  @keyframes animateBubble {
    0% {
      transform: translateY(-20%);
      opacity: 0; }
    100% {
      transform: translateY(0);
      opacity: 1; } }
  .block--background {
    background-color: #363636;
    width: 100vw;
    height: 100vh; }

  #chatform {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    font-family: Helvetica; }
    @media screen and (max-width: 29em) {
      #chatform {
        width: 90%; } }


textarea[name="chatbox"] {
  resize: none;
  border: 2px solid #D95952;
  border-right: 0;
  width: 100%;
  background: transparent;
  color: white;
  height: 2.12em;
  margin: 0;
  border-radius: 4px 0px 0px 4px;
  font-family: inherit;
  font-size: 1.4em; }
  textarea[name="chatbox"]:focus {
    outline: none;
    border: 2px solid #8A7877; }


    input[type="submit"] {
      -webkit-appearance: none;
      appearance: none;
      border: 0;
      width: 25%;
      margin: 0;
      background-color: #D95952;
      color: #fff;
      border: 2px solid #D95952;
      border-left: 0;
      border-radius: 0 8px 8px 0;
      font-family: inherit;
      font-size: 1em;
      transition: 200ms all ease-in; }
      input[type="submit"]:hover {
        background-color: #8A7877;
        border-color: #8A7877;
        color: #fff; }

    .input__nested-list {
      list-style: disc;
      list-style-position: inside;
      padding: 0.5em; }
      .input__nested-list:first-child {
        padding-top: 1em; }

    .input__nested-link {
      color: #8A7877;
      text-decoration: none;
      border-bottom: 1px solid #8A7877; }

    ::-webkit-scrollbar {
      width: 0.65em;
      /* for vertical scrollbars */
      height: 0.65em;
      /* for horizontal scrollbars */ }

    ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1); }

    ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3); }

    .grid__section {
      width: 80vw;
      max-width: 55em;
      margin: 0 auto; }

    .block__article {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
      margin: 0 auto; }

    .title {
      font-size: 2em;
      padding-top: 1em;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      color: #fff; }
      .title:first-child {
        padding-bottom: 1em; }

    .small-screen__help, .large-screen__help {
      width: 100%;
      font-family: 'Roboto', sans-serif;
      font-size: 0.85em;
      font-style: italic;
      color: #f5f5f5;
      margin-top: -1em;
      padding-bottom: 1em; }

    .large-screen__help {
      display: none; }

    @media screen and (min-width: 48em) {
      .small-screen__help {
        display: none; }

      .large-screen__help {
        display: block; } }
    .about__intro {
      color: #f5f5f5; }

    .about__nav {
      margin-top: 2.5em;
      color: #f5f5f5; }
      .about__nav h3 {
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        padding: 1em 0; }
      .about__nav ul li a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 1.5em 0;
        padding-top: 0; }
        .about__nav ul li a span {
          transition: 200ms all linear;
          color: #8A7877;
          border-bottom: 2px solid #8A7877;
          border-radius: 10%; }
        .about__nav ul li a:hover span {
          color: #CC8914;
          border-bottom: 2px solid #CC8914; }

    .card {
      margin: 1.5em auto;
      padding-top: 0;
      text-decoration: none;
      width: 100%; }
      .card article {
        width: 100%;
        height: 100%; }
      .card .card__link {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%; }
      .card .image__container {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: -3em; }
        @media screen and (min-width: 48em) {
          .card .image__container {
            margin-bottom: -1.5%; } }
      .card .card__image {
        width: 100%;
        height: 100%; }
      .card .card__title {
        font-size: 1.5em;
        position: absolute;
        top: 10%;
        z-index: 3;
        color: #FFF;
        background: #D95952;
        padding: 0.2em 0.5em 0.2em 1em;
        margin-left: -0.5em; }
      .card .card__button {
        appearance: none;
        border: none;
        box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.1);
        outline: none;
        background-color: #8A7877;
        display: flex;
        justify-content: center;
        width: 2.75em;
        height: 2.75em;
        font-size: 1em;
        border-radius: 50%;
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-65%);
        z-index: 13;
        cursor: pointer;
        transition: 200ms transform ease-in, 200ms background ease-in; }
        .card .card__button:hover {
          background-color: #B8B4B4; }
        .card .card__button svg {
          position: absolute;
          left: 27.5%;
          top: 30%;
          transform: rotate(180deg);
          transition: 200ms transform ease-in;
          width: 1.25em; }
          .card .card__button svg g {
            stroke: #fff; }
        @media screen and (min-width: 48em) {
          .card .card__button {
            display: none; } }
      .card .card__button[aria-expanded=true] {
        transform: translateX(-50%) translateY(-13.675em); }
        .card .card__button[aria-expanded=true] svg {
          transform: rotate(0deg) translateY(10%); }
        .card .card__button[aria-expanded=true] + .card__excerpt--underlay {
          transform: scaleY(1);
          opacity: 0.95; }
          .card .card__button[aria-expanded=true] + .card__excerpt--underlay .card__excerpt {
            opacity: 1; }
      .card .card__excerpt--underlay {
        position: absolute;
        bottom: 0;
        opacity: 0;
        display: block;
        width: 100%;
        transform-origin: bottom;
        background-color: #363636;
        height: 12em;
        z-index: 12;
        transition: 400ms opacity ease-in, 200ms transform ease-in; }
        @media screen and (max-width: 48em) {
          .card .card__excerpt--underlay {
            transform: scaleY(0);
            opacity: 0.95; } }
      .card .card__excerpt {
        position: absolute;
        bottom: 10%;
        z-index: 7;
        padding: 1em;
        font-size: 1em;
        font-weight: 600;
        color: #f5f5f5;
        filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.85));
        transition: 200ms opacity ease-out;
        opacity: 0; }
        @media screen and (min-width: 48em) {
          .card .card__excerpt {
            padding-bottom: 1em; } }
        @media screen and (min-width: 56em) {
          .card .card__excerpt {
            font-size: 1em; } }
        @media screen and (max-width: 48em) {
          .card .card__excerpt {
            opacity: 0; } }
      @media screen and (min-width: 48em) {
        .card {
          width: 47.5%;
          margin: 2.5em 0; }
          .card:hover .card__excerpt--underlay {
            opacity: 0.95;
            box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.1); }
          .card:hover .card__excerpt {
            opacity: 1; }
          .card:nth-child(2n + 1) {
            margin-left: 5%; } }



            .open-modal {
               text-align: center;
            	background: rgba(0, 0, 13, 0.2);
            	color: #fff;
            	text-transform: uppercase;
            	letter-spacing: 1px;
            	font-size: 13px;
            	border-radius: 1px;
               cursor: pointer;
            	-webkit-transition: background 0.3s;
            	transition: background 0.3s;
            }

            .open-modal:hover {
            	background: #826722;
            }

            .open-modal1 {
               text-align: center;
            	border: none;
            	background: #D95952;
            	color: #fff;
            	text-transform: uppercase;
            	letter-spacing: 2px;
            	font-size: 14px;
            	padding: .5em 1em;
            	font-weight: bold;
            	border-radius: 20px;
               cursor: pointer;
            	-webkit-transition: background 0.3s;
            	transition: background 0.3s;
            }

            .open-modal1:hover {
            	background: #B8B4B4;
            }

            .open-modal2 {
               text-align: center;
            	border: none;
            	background: #B8B4B4;
            	color: #fff;
            	text-transform: uppercase;
            	font-size: 13px;
            	font-weight: bold;
            	border-radius: 15px;
               cursor: pointer;
            	-webkit-transition: background 0.3s;
            	transition: background 0.3s;
            }

            .open-modal2:hover {
            	background: #D95952;
            }

            .open-modal3 {
               text-align: center;
            	border: none;
            	background: #000000;
            	color: #fff;
            	text-transform: uppercase;
              padding: 10px 10px;
            	font-size: 16px;
            	font-weight: bold;
            	border-radius: 15px;
               cursor: pointer;
            	-webkit-transition: background 0.3s;
            	transition: background 0.3s;
            }

            .open-modal3:hover {
            	background: #D95952;
            }


            #container {
              position: absolute;
              width: 100px;
              height: 60px;
              margin: 0;
              left: calc(50% - 50px);
              top: calc(50% - 30px); }

            #loading-mask1, #loading-mask2, #loading-mask3, #loading-mask4, #loading-mask5 {
              animation-name: loader1;
              animation-duration: 2.1s;
              animation-iteration-count: infinite;
              animation-fill-mode: both;
              transform: translate(-10px, 0);
            }

            #loading-mask2 { animation-name: loader2; }

            #loading-mask3 { animation-name: loader3; }

            #loading-mask4 { animation-name: loader4; }

            #loading-mask5 { animation-name: loader5; }

            @keyframes loader1 {
              from {  transform: translate(-10px, 0); }
              to { transform: translate(70px, 0); }
            }

            @keyframes loader2 {
              from {  transform: translate(-100px, 0); }
              to { transform: translate(70px, 0); }
            }

            @keyframes loader3 {
              from {  transform: translate(-200px, 0); }
              to { transform: translate(70px, 0); }
            }

            @keyframes loader4 {
              from {  transform: translate(-300px, 0); }
              to { transform: translate(70px, 0); }
            }

            @keyframes loader5 {
              from {  transform: translate(-400px, 0); }
              to { transform: translate(70px, 0); }
            }




            .confetti {
              left: 0;
              pointer-events: none ;
              position: fixed;
              top: 0;
              transform: translate3d(0, 0, 0);
              will-change: transform;
              height: 100%;
              width: 100%;
            }

            .confetti-item {
              position: absolute;
              transform: translate3d(0, 0, 0);
              will-change: transform;
            }

            @keyframes confetti-fall {
              0% {
                transform: translateY(-100%);}
              95% {
                animation-timing-function: ease-in-out;
                transform: translateY(calc(100vh - 55%));}
              100% {
                transform: translateY(calc(100vh - 65%));}

            }


.staticDis {

  width: 100px;
}




.salmonTail {
transform: translateX(-3px);
animation: kaboom 2s ease alternate infinite;
}
@keyframes kaboom {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
