body {
  background: #6eb5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
form {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  padding: 30px;
  display: none;
}

.popup {
  position: fixed;
  z-index: 99999;
  justify-content: center;
  bottom: 10;
  padding: 30px;
}

answers {
  position: fixed;
  z-index: 9999;
  justify-content: center;
  bottom: 10;
  padding: 30px;

}

.box1 {
  z-index: 99999999999;
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
}

.open-modal {
   text-align: center;
	border: none;
	background: #27ae60;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 1em 2em;
	font-weight: bold;
	border-radius: 20px;
   cursor: pointer;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.open-modal:hover {
	background: #2ecc71;
}

time {
  position: absolute;
  z-index: 99999999999;
  top: 0;
  right: 0;
  font-size: 30px;
	font-weight: bold;
}

bPics {
  position: absolute;
  z-index: 99999999;
  top: 0;
  left: 0;
  font-size: 30px;
	font-weight: bold;
}
