#app
  .container.mt-3.mt-sm-5
    .row.justify-content-between.mb-3
      .col-md-9
        h1.display-1 Shop

      .col-md-3.text-right
        button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#cart')
          i.fa.fa-shopping-cart
          |  {{ cart.length }}

    .row
      .col-md-3(v-for='item in selling')
        .card
          img.card-img-top(:src='item.image', :alt='item.name')
          .card-block
            h4.card-title {{ item.name }}

            .card-text ${{ item.price / 100 }}

            .row.justify-content-end
              button.btn.btn-primary(@click='addToCart', :data-id='item.id') Add to cart

  #cart.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Cart
          button.close(type='button')(data-dismiss='modal')
            | &times;
        .modal-body
          table.table
            tbody
              tr(v-for='item in cart')
                td {{ item.name }}
                td ${{ item.price / 100 }}
              tr
                td
                td
                  strong ${{ cartTotal / 100 }}
        .modal-footer
          button.btn.btn-secondary(data-dismiss='modal') Continue shopping
          button.btn.btn-primary Check out