#myContainer {
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
}
#myAnimation {
  width: 200px;
  height: 164px;
  right: 45%;
  position: absolute;
  opacity: 0;
  background-image: url("cookie.png");
}
#myContainer2 {
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
}
#myAnimation2 {
  width: 200px;
  height: 164px;
  right: 51%;
  position: absolute;
  opacity: 0;
  background-image: url("poo.png");
}
